In [20]:
import pandas as pd 
import numpy as np

**tables with rendundancies**
- payloads : missing data in mass
- missions : redundancy columns
- ships : missing data in mass and drop year
- rockets : drop landing legs

In [21]:
payloads = pd.read_csv('payloads.csv')

In [22]:
payloads.columns

Index(['Unnamed: 0', 'payload_id', 'name', 'type', 'reused', 'manufacturers',
       'mass_kg', 'mass_lb', 'orbit', 'reference_system', 'regime'],
      dtype='object')

In [23]:
payloads = payloads.drop('Unnamed: 0',axis=1)

In [24]:
x = payloads.dropna(axis=0)

In [25]:
x.isna().sum()

payload_id          0
name                0
type                0
reused              0
manufacturers       0
mass_kg             0
mass_lb             0
orbit               0
reference_system    0
regime              0
dtype: int64

In [26]:
# x.to_csv('payloads.csv') done

In [27]:
missions = pd.read_csv('missions.csv')

In [43]:
missions.columns

Index(['date', 'success', 'launch_id', 'rocket_id', 'launchpad_id', 'payloads',
       'name'],
      dtype='object')

In [44]:
cols = ['date','name','rocket_id','launchpad_id','launch_id','success','payloads']

In [45]:
missions = missions[cols]

In [46]:
missions

,date,name,rocket_id,launchpad_id,launch_id,success,payloads
0,2006-03-24T22:30:00.000Z,FalconSat,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,5eb87cd9ffd86e000604b32a,False,['5eb0e4b5b6c3bb0006eeb1e1']
1,2007-03-21T01:10:00.000Z,DemoSat,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,5eb87cdaffd86e000604b32b,False,['5eb0e4b6b6c3bb0006eeb1e2']
2,2008-08-03T03:34:00.000Z,Trailblazer,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,5eb87cdbffd86e000604b32c,False,"['5eb0e4b6b6c3bb0006eeb1e3', '5eb0e4b6b6c3bb00..."
3,2008-09-28T23:15:00.000Z,RatSat,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,5eb87cdbffd86e000604b32d,True,['5eb0e4b7b6c3bb0006eeb1e5']
4,2009-07-13T03:35:00.000Z,RazakSat,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,5eb87cdcffd86e000604b32e,True,['5eb0e4b7b6c3bb0006eeb1e6']
...,...,...,...,...,...,...,...
99,2020-08-18T14:31:00.000Z,Starlink-10 (v1.0) & SkySat 19-21,5e9d0d95eda69973a809d1ec,5e9e4501f509094ba4566f84,5ed981d91f30554030d45c2a,True,['5ed9859f1f30554030d45c3f']
100,2020-08-30T23:18:00.000Z,"SAOCOM 1B, GNOMES-1, Tyvak-0172",5e9d0d95eda69973a809d1ec,5e9e4501f509094ba4566f84,5eb87d47ffd86e000604b38a,True,['5eb0e4d1b6c3bb0006eeb259']
101,2020-09-03T12:46:00.000Z,Starlink-11 (v1.0),5e9d0d95eda69973a809d1ec,5e9e4502f509094188566f88,5ef6a1e90059c33cee4a828a,True,['5ef6a4600059c33cee4a829e']
102,2020-10-06T11:29:00.000Z,Starlink-12 (v1.0),5e9d0d95eda69973a809d1ec,5e9e4502f509094188566f88,5ef6a2090059c33cee4a828b,True,['5ef6a48e0059c33cee4a829f']
103,2020-10-18T12:25:00.000Z,Starlink-13 (v1.0),5e9d0d95eda69973a809d1ec,5e9e4502f509094188566f88,5ef6a2bf0059c33cee4a828c,True,['5ef6a4d50059c33cee4a82a1']

In [47]:
missions.isna().sum()

date            0
name            0
rocket_id       0
launchpad_id    0
launch_id       0
success         0
payloads        0
dtype: int64

In [49]:
# csv 
# missions.to_csv('missions.csv')

In [50]:
ships = pd.read_csv('ships.csv')

In [52]:
ships.columns

Index(['Unnamed: 0', 'ship_id', 'name', 'type', 'active', 'roles', 'mass_kg',
       'mass_lb', 'year_built', 'home_port'],
      dtype='object')

In [54]:
ships = ships.drop('Unnamed: 0',axis=1)

In [56]:
ships.isna().sum()

ship_id       0
name          0
type          0
active        0
roles         0
mass_kg       8
mass_lb       8
year_built    4
home_port     0
dtype: int64

In [57]:
ships = ships.dropna(axis=0)

In [59]:
ships.isna().sum()

ship_id       0
name          0
type          0
active        0
roles         0
mass_kg       0
mass_lb       0
year_built    0
home_port     0
dtype: int64

In [61]:
ships.columns

Index(['ship_id', 'name', 'type', 'active', 'roles', 'mass_kg', 'mass_lb',
       'year_built', 'home_port'],
      dtype='object')

In [62]:
ships = ships.drop('year_built',axis=1)

In [63]:
ships.columns

Index(['ship_id', 'name', 'type', 'active', 'roles', 'mass_kg', 'mass_lb',
       'home_port'],
      dtype='object')

In [64]:
# ships.to_csv('ships.csv')

In [95]:
def one_val(x):
    x = x.split(',')[0][2:-1]
    return x

x = ships['roles'].apply(one_val)

In [94]:
x

0          Support Ship
4             ASDS Tug'
5             ASDS Tug'
6     Fairing Recovery'
7     Fairing Recovery'
8          Support Ship
9          Support Ship
11         Support Ship
12            ASDS Tug'
13            ASDS Tug'
17         Support Ship
19            ASDS Tug'
20            ASDS Tug'
21            ASDS Tug'
22         Support Ship
Name: roles, dtype: object

In [80]:
ships['roles']

0            ['Support Ship', 'Barge Tug']
4                             ['ASDS Tug']
5                             ['ASDS Tug']
6                     ['Fairing Recovery']
7                     ['Fairing Recovery']
8     ['Support Ship', 'Fairing Recovery']
9     ['Support Ship', 'Fairing Recovery']
11    ['Support Ship', 'Fairing Recovery']
12                            ['ASDS Tug']
13                            ['ASDS Tug']
17     ['Support Ship', 'Dragon Recovery']
19                            ['ASDS Tug']
20                            ['ASDS Tug']
21                            ['ASDS Tug']
22           ['Support Ship', 'Barge Tug']
Name: roles, dtype: object

In [72]:
string = "['Support Ship', 'Barge Tug']"

In [78]:
string.split(',')[0][2:-1]

'Support Ship'

In [96]:
ships['roles'] = ships['roles'].apply(one_val)

In [98]:
# ships.to_csv('ships.csv')

In [100]:
rockets = pd.read_csv('rockets.csv')

In [101]:
rockets

,rocket_id,name,type,active,country,company,height_mt,height_ft,diameter_mt,diameter_ft,mass_kg,mass_lb,stages,boosters,cost_per_launch,landing_legs,engines
0,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,False,Republic of the Marshall Islands,SpaceX,22.25,73.0,1.68,5.5,30146,66460,2,0,6700000,"{'number': 0, 'material': None}","{'isp': {'sea_level': 267, 'vacuum': 304}, 'th..."
1,5e9d0d95eda69973a809d1ec,Falcon 9,rocket,True,United States,SpaceX,70.00,229.6,3.70,12.0,549054,1207920,2,0,50000000,"{'number': 4, 'material': 'carbon fiber'}","{'isp': {'sea_level': 288, 'vacuum': 312}, 'th..."
2,5e9d0d95eda69974db09d1ed,Falcon Heavy,rocket,True,United States,SpaceX,70.00,229.6,12.20,39.9,1420788,3125735,2,2,90000000,"{'number': 12, 'material': 'carbon fiber'}","{'isp': {'sea_level': 288, 'vacuum': 312}, 'th..."
3,5e9d0d96eda699382d09d1ee,Starship,rocket,False,United States,SpaceX,118.00,387.0,9.00,30.0,1335000,2943000,2,0,7000000,"{'number': 6, 'material': 'stainless steel'}","{'isp': {'sea_level': 330, 'vacuum': 380}, 'th..."

In [102]:
rockets.columns

Index(['rocket_id', 'name', 'type', 'active', 'country', 'company',
       'height_mt', 'height_ft', 'diameter_mt', 'diameter_ft', 'mass_kg',
       'mass_lb', 'stages', 'boosters', 'cost_per_launch', 'landing_legs',
       'engines'],
      dtype='object')

In [105]:
cols = ['rocket_id','name','type','active','country','company','stages','cost_per_launch']

In [112]:
rockets[cols]

,rocket_id,name,type,active,country,company,stages,cost_per_launch
0,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,False,Republic of the Marshall Islands,SpaceX,2,6700000
1,5e9d0d95eda69973a809d1ec,Falcon 9,rocket,True,United States,SpaceX,2,50000000
2,5e9d0d95eda69974db09d1ed,Falcon Heavy,rocket,True,United States,SpaceX,2,90000000
3,5e9d0d96eda699382d09d1ee,Starship,rocket,False,United States,SpaceX,2,7000000

In [111]:
rockets = rockets[cols]

In [113]:
rockets.isna().sum()

rocket_id          0
name               0
type               0
active             0
country            0
company            0
stages             0
cost_per_launch    0
dtype: int64

In [114]:
rockets

,rocket_id,name,type,active,country,company,stages,cost_per_launch
0,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,False,Republic of the Marshall Islands,SpaceX,2,6700000
1,5e9d0d95eda69973a809d1ec,Falcon 9,rocket,True,United States,SpaceX,2,50000000
2,5e9d0d95eda69974db09d1ed,Falcon Heavy,rocket,True,United States,SpaceX,2,90000000
3,5e9d0d96eda699382d09d1ee,Starship,rocket,False,United States,SpaceX,2,7000000

In [116]:
# rockets.to_csv('rockets.csv')

In [119]:
s = missions['payloads'][2]

In [120]:
s

"['5eb0e4b6b6c3bb0006eeb1e3', '5eb0e4b6b6c3bb0006eeb1e4']"

In [143]:
def one_val_m(x):
    return x[2:26]
missions['payloads'] = missions['payloads'].apply(one_val_m)

In [148]:
cols_m = ['date','name','rocket_id','launchpad_id','launch_id','payloads','success']

In [150]:
missions = missions[cols_m]

In [152]:
missions

,date,name,rocket_id,launchpad_id,launch_id,payloads,success
0,2006-03-24T22:30:00.000Z,FalconSat,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,5eb87cd9ffd86e000604b32a,5eb0e4b5b6c3bb0006eeb1e1,False
1,2007-03-21T01:10:00.000Z,DemoSat,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,5eb87cdaffd86e000604b32b,5eb0e4b6b6c3bb0006eeb1e2,False
2,2008-08-03T03:34:00.000Z,Trailblazer,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,5eb87cdbffd86e000604b32c,5eb0e4b6b6c3bb0006eeb1e3,False
3,2008-09-28T23:15:00.000Z,RatSat,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,5eb87cdbffd86e000604b32d,5eb0e4b7b6c3bb0006eeb1e5,True
4,2009-07-13T03:35:00.000Z,RazakSat,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,5eb87cdcffd86e000604b32e,5eb0e4b7b6c3bb0006eeb1e6,True
...,...,...,...,...,...,...,...
99,2020-08-18T14:31:00.000Z,Starlink-10 (v1.0) & SkySat 19-21,5e9d0d95eda69973a809d1ec,5e9e4501f509094ba4566f84,5ed981d91f30554030d45c2a,5ed9859f1f30554030d45c3f,True
100,2020-08-30T23:18:00.000Z,"SAOCOM 1B, GNOMES-1, Tyvak-0172",5e9d0d95eda69973a809d1ec,5e9e4501f509094ba4566f84,5eb87d47ffd86e000604b38a,5eb0e4d1b6c3bb0006eeb259,True
101,2020-09-03T12:46:00.000Z,Starlink-11 (v1.0),5e9d0d95eda69973a809d1ec,5e9e4502f509094188566f88,5ef6a1e90059c33cee4a828a,5ef6a4600059c33cee4a829e,True
102,2020-10-06T11:29:00.000Z,Starlink-12 (v1.0),5e9d0d95eda69973a809d1ec,5e9e4502f509094188566f88,5ef6a2090059c33cee4a828b,5ef6a48e0059c33cee4a829f,True
103,2020-10-18T12:25:00.000Z,Starlink-13 (v1.0),5e9d0d95eda69973a809d1ec,5e9e4502f509094188566f88,5ef6a2bf0059c33cee4a828c,5ef6a4d50059c33cee4a82a1,True

In [145]:
missions.to_csv('missions.csv')